<div class="form-horizontal" data-selector="IndexPage">
    <div>
        <input placeholder="Search contact by last name" data-selector="SearchInput" style="width:25%" />
    </div>
    <br />
    <h4>Contacts</h4>
    <hr />

    <p data-selector="NoContactsError" style="display:none"  >
        No users found, please change search criteria...
    </p>
    <table data-selector="ContactsTable"></table>

    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type='button' value="Add Contact" class="btn btn-primary" data-selector="AddContact" />
        </div>
    </div>
</div>

<div id="AddContact"></div>

<script src="~/js/jQueryScripts/Index.js"></script>
@*<script src="~/js/viewmodel/indexviewmodel.js"></script>*@
